RECEPTIONIST_MODEL=<YOUR_MODEL_NAME>
GENMEDICINE_MODEL=<YOUR_MODEL_NAME>
GENSURGEON_MODEL=<YOUR_MODEL_NAME>
GROQ_API_KEY=<YOUR_KEY>
TVLY_API_KEY=<YOUR_KEY>
TZ=<YOUR_TIMEZONE_IANA_FORMAT>
DO_EMBED_COSTLY_OP=ENABLED | DISABLED>
PINECONE_INDEX_GEN_SURGEON=<YOUR_PINECONE_INDEX>
PINECONE_INDEX_GEN_MEDICINE=<YOUR_PINECONE_INDEX>